@import './fonts.scss';
@import './components/header.scss';
@import './components/footer.scss';

html, body {
   height: 100%;
}

body {
   font-family: 'Futura New', sans-serif;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 70px 1fr 100px;
   background: url('@img/natalee.jpg') no-repeat center / cover;
   position: relative;
   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
   }
}




main {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   position: relative;
   z-index: 1;
}




a, a:hover, a:focus, a:active {
   text-decoration: none;
}


.menu {
   display: flex;
   align-items: center;
   .menu-item {
      padding: 10px 0;
      position: relative;
      display: flex;
      align-items: center;
      &.has-children {
         &::after {
            content: "\f107";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            font-family: "FontAwesome";
            font-size: 20px;
            color: #fff;
            transition: all 0.2s ease-out;
         }
      }
      & > a {
         padding: 10px 25px;
         font-size: 20px;
         font-weight: 600;
         text-transform: uppercase;
         color: #fff;
         display: flex;
         position: relative;
         transition: all 0.2s ease-out;
         &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            background: #fff;
            transition: all 0.2s ease-out;
         }
      }
      &:hover {
         a {
            color: #ff0000;
            &::after {
               width: 100%;
            }
         }
         &::after {
            transform: translateY(-50%) rotate(-90deg);
         }
         .submenu {
            top: 100%;
            opacity: 1;
            visibility: visible;
         }
         .submenu__1 {
            opacity: 0;
            visibility: hidden;
         }
      }
   }

   .submenu {
      position: absolute;
      top: 85%;
      left: 0;
      min-width: 250px;
      width: max-content;
      background: rgba(255, 255, 255, 0.8);
      opacity: 0;
      visibility: hidden;
      border-left: 4px solid #ff0000;
      transition: all 0.2s ease-out 0.2s;
      .submenu-item {
         padding: 0 10px;
         position: relative;
         width: 100%;
         & > a {
            padding: 20px 25px;
            position: relative;
            display: flex;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            color: black;
            transition: color 0.1s ease-out;
            span {
               display: inline-block;
               width: 100%;
               transition: transform 0.2s ease-out;
            }
         }
         &:not(:last-child) {
            & > a {
               border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }
         }
         &:hover {
            & > a {
               color: #ff0000;
               span {
                  transform: translateX(5px);
               }
            }
            .submenu__1 {
               top: 0%;
               opacity: 1;
               visibility: visible;
            }
         }
         .submenu__1 {
            left: 101%;
            top: -20%;
         }
      }
   }
}
